*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: Roboto, sans-serif;
}
.container{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1140px;
}
.main{
  min-height: 800px;
  padding: 38px 0px 62px 0px ;
  background: url(../img/main_bg.svg) center center/cover no-repeat;
}
.img__logo{
  display: block;
  margin: 0 auto;
}
.main__text{
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
  color:white;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.title__big{
margin-top: 48px;
margin-bottom: 0px;
font-weight: 900;
font-size: 41px;
text-align: center;
text-transform: uppercase;
color: #F9BF3B;
}

.this__simple{
margin-top: 0px;
font-weight: 900;
font-size: 80px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.this__doit{
margin-top: 5px;
font-weight: 900;
font-size: 41px;
text-align: center;
text-transform: uppercase;
color: #F9BF3B;
}
.text2{
margin-top: 22px;
font-weight: 300;
font-size: 21px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}
.sale{
font-weight: 700;
font-size: 21px;
text-align: center;
color: #F9BF3B;
}
.main__button{
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  width: 313px;
  height: 72px;
  border: none;
  border-radius: 0%;
  background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; 
  cursor: pointer;
}
.more{
font-weight: 100;
font-size: 15px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 95px;

}
.arrow{
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
.waiting{
  min-height: 604px;
  padding: 86px 0px 74px 0px;
  background: url(../img/Задний\ фон.png) center center/cover no-repeat;
}
.waiting__title{
font-weight: 400;
font-size: 30px;
text-align: center;
text-transform: uppercase;
color: #252525;
}
.divider{
width: 220px;
height: 7px;
margin: 0 auto;
margin-top: 18px;
background: #F9BF3B;
}
.vebinar{
font-weight: 400;
font-size: 23px;
text-align: center;
color: #4A4A4A;
margin-top: 19px;

}
.wrapper__block{
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
  align-content: center;
  
}
.block__item{
  width: 342px;
}
.block__text{
margin-top: 26px;
font-weight: 300;
font-size: 15px;
line-height: 21px;
text-align: center;
color: #4A4A4A;
}
.optimization{
  min-height: 502px;
}
.opt__text1{
text-align: center;
font-weight: 900;
font-size: 30px;
text-transform: uppercase;
color: #299CBD;
margin-top: 106px;
margin-left: 340px;
}
.opt__maintext{
  width: 726px;
  margin: 0 auto;
  margin-left: 391px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4A4A4A;
  margin-top: 13px;
  margin-bottom: 46px;
  
  
}
.opt__dark{
font-weight: 700;
font-size: 17px;
line-height: 27px;
color: #4A4A4A;
}
.opt__woman{
  position: absolute;
  top:-40px;
  left:-200px;
  z-index: -1;
}
.you__can{
  min-height: 450px;
  padding-top: 86px;
  padding-bottom: 69px;
  background: url(../img/second_bg.png) center center/cover no-repeat;
}
.you__can .you__cantext{
font-weight: 400;
font-size: 30px;
text-align: center;
text-transform: uppercase;
color: #EFEFEF;
}
.you__can .divider{
width: 220px;
height: 7px;
background: #F9BF3B;
}
.you__can .you__canwrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.you__can .you__canwrapper .own{
  width: 204px;
}
.you__can .you__canwrapper .you__canitem{
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
width: 118px;
height: 118px;
background: #B4E2FF;
border-radius: 100%;
}

.you__can .you__canwrapper .own .you__cantextitem{
margin-top: 25px;
width: 200px;
font-weight: 300;
font-size: 17px;
line-height: 20px;
color: #EFEFEF;
text-align: center;

}

.gift{
  min-height: 631px;
  padding-top: 88px;
  padding-bottom: 88px;
  background: url(../img/Фонподарок.png) center center/cover no-repeat;
}
.gift .gift__img{
  display: block;
  margin: 0 auto;
}
.gift .gift__descr{
margin-top: 45px;
font-weight: 400;
font-size: 30px;
line-height: 43px;
text-align: center;
color: #252525;
}
.gift .gift__but{
display: block;
margin: 0 auto;
margin-top: 51px;
width: 313px;
height: 72px;
border: none;
background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
font-weight: 400;
font-size: 21px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
cursor: pointer;
}

.dedlain{
  min-height: 666px;
  padding-top: 89px;
  padding-bottom: 51px;
}

.dedlain .vebinar{
  display: block;
  margin: 0 auto;
}
.dedlain .vebinar1{
font-weight: 400;
font-size: 30px;
text-align: center;
text-transform: uppercase;
color: #252525;
margin-top: 36px;
}
.dedlain .vebinar2{
font-weight: 900;
font-size: 36px;
text-align: center;
text-transform: uppercase;
color: #299CBD;
margin-top: 30px;
}
.dedlain .vebinar3{
font-weight: 400;
font-size: 23px;
text-align: center;
color: #4A4A4A;
margin-top: 25px;
}

.footerend{
  min-height: 169px;
  padding-top: 57px;
  padding-bottom: 69px;
  background: url(../img/футер.png) center center/cover no-repeat;
}
.footerend .info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 407px;
  margin: 0 auto;
}
.footerend .info .support{
font-weight: 300;
font-size: 15px;
text-align: center;
text-decoration-line: underline;
color: #888888;
}
.footerend .info .right{
  border-right: 2px solid #888888;
  padding-right: 5px;
  
}
.footerend .info .left{
  padding-left: 5px;
}
.footerend .support1{
margin-top: 3px;
font-weight: 300;
font-size: 15px;
text-align: center;
color: #888888;
}